body, html {
  height: 100%;
  padding-top: 30px;
}

.maincontainer {
  widht: 100%;
  height: 100%;
}

.welcome {
  widht: 100%;
  height: 100%;
  background-image: url("images/back.jpg");
}

.head_welcome {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 80px;
}

.head_welcome_buttons {
  padding-right: 20px;
}

.welcome_block {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
}

.welcome_content {
}

.welcome_content-title {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px gray;
  font-family: 'Lobster', cursive;
}

.welcome_content-text {
  color: white;
  text-shadow: 1px 1px gray;
  font-family: 'Lobster', cursive;
  font-size: 32px;
  width: 80%;
  padding-top: 20px;
}

.welcome_sidebar {
  float: right;
  display: block;
}

.welcome_register_form {
}

.welcome_register_form_tytle {
  color: white;
  text-shadow: 2px 2px gray;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

/*fix bootsrap row class*/
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.welcome_head_logo_block {
  padding-left: 1%;
  margin-top: 16px;
}

.welcome_head_logo {
  background-image: url("images/logo.png");
  display: inline-block;
  height: 59px;
  width: 64px;
}

.welcome_head_logo_text {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px gray;
  font-family: 'Lobster', cursive;
}

/*to center angular strap modal dialog*/
.modal .modal-dialog {
  min-width: 450px;
  max-width: 450px;
}

.modal-footer {
  padding-top: 0;
}

.badge.beta{
  background-color: #d9534f;
  text-shadow: none;
  font-size: 10px;
}

.badge.yellow {
  background-color: #f7ae21;
  text-shadow: none;
  font-size: 20px;
}

.badge.green {
  background-color: #089413;
  text-shadow: none;
  font-size: 20px;
}

.dashboard {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 18px;
}

.btn.btn-big {
  font-size: 20px;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.modal-title {
  font-size: 24px;
}

.profile-foto {
  width: 256px;
  height: 278px;
  background-image: url("images/polaroid-256.png");
}

.user-logo-image {
  position: relative;
  left: 45px;
  top: 55px;
}
.user-logo-name {
  position: relative;
  top: 82px;
  text-align: center;
}
.progress {
  height: 30px;
}

.progress-label {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 6px;
  cursor: pointer;
}

/*-----*/

.map {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* Login, Register */
.login-body { 
 background: url('images/bg_suburb.jpg') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: absolute;
 height: 100%;
 top: 0px;
 left: 0px;
 width: 100%;
}

.panel-default {
  opacity: 0.9;
  margin-top: 20px;
}

.form-group.last {
  margin-bottom: 0px;
}

.login-logo {
  text-shadow: 2px 2px gray;
  font-size:60px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.login-logo-beta {
  text-align: center;
  font-size:30px;
}
/*----*/