<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand lobster" style="font-size: 22px">Geography</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{'active' : active == 'world'}" ng-click="location = 'continents'"><a href="">World</a></li>
        <li ng-class="{'active' : active == 'dictionary'}"><a href="#/dashboard/dictionary">Dictionary</a></li>
        <li ng-class="{'active' : active == 'jungle'}"><a href="#/dashboard/jungle">Jungle</a></li>
        <li><a href="#">The Game</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">
                <input type="checkbox">
                <span class="lbl">Monday</span></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/login">Login</a>
        </li>
        <li>
          <a href="" class="glyphicon glyphicon-cog" style="font-size: 20px" bs-aside="aside" data-container="body"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>