<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title lobster">Вход в English Pazzle</h4>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span> <input type="email" class="form-control"
            placeholder="Email">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span> <input type="password" class="form-control"
            placeholder="Пароль">
        </div>
        <button type="button" class="btn3d btn btn-big btn-default btn-lg btn-block navbar-btn welcome_register_button">Войти</button>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn3d btn btn-big btn-primary">ВКонтакте</button>
          <button type="button" class="btn3d btn btn-big btn-warning">Одноклассники</button>
          <button type="button" class="btn3d btn btn-big btn-info">Facebook</button>
        </center>
      </div>
    </div>
  </div>
</div>