<div class="map">
  <div>
    <select ng-model="location">
      <option value="continents">Continents</option>
      <option value="usa">USA</option>
      <option value="mexico">Mexico</option>
    </select>
    <select ng-model="quality">
      <option value="Low">Low</option>
      <option value="High">High</option>
    </select>
    <select ng-model="showPopulation">
      <option value="true">True</option>
      <option value="">False</option>
    </select>
  </div>
  <center>
    <object id="map" type="image/svg+xml" ng-attr-data="{{url}}"> 
  </center>
</div>
