<div id="config-tool" class="closed">
  <div id="config-tool-cog" class="config-tool-cog">
    <b class="glyphicon glyphicon-cog" style="font-size: 35px"></b>
  </div>
  <div id="config-tool-options">
    <div class="row">
      <div class="col-md-12">
        <checkbox class="btn-primary" ng-model="showPopulation.value" name="custom-name"></checkbox> Show population
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <checkbox class="btn-primary" ng-model="quality.value" name="custom-name"></checkbox> High quality
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <checkbox class="btn-primary" ng-model="something" name="custom-name"></checkbox> Something
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <checkbox class="btn-primary" ng-model="turbo" name="custom-name"></checkbox> Turbo
      </div>
    </div>
  </div>
</div>
