<div class="dashboard">
  <dashboard-navigation-bar active="profile"></dashboard-navigation-bar>
  <div class="wrapper">
    <div class="well row">
      <div class="profile-foto col-md-4">
        <div>
          <img class="user-logo-image" src="images/user.png">
          <div class="user-logo-name">
            <h4 class="lobster">Bobrun Perdun</h4>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h3 class="lobster">Your vocabulary <a class="badge beta">10354</a> words</h3>
        <h3 class="lobster">Time spent while learning words <a class="badge beta">3425456</a> minutes</h3>
        <h3 class="lobster">Level of erudition in the game <a class="badge beta">342</a> beavers</h3>
        <br>
        <h3 class="lobster">Learn Progress</h3>
        <progress class="progress-striped active">
            <bar value="47" type="success"><span class="progress-label lobster">47%</span></bar>
            <bar value="23" type="warning"><span class="progress-label lobster">23%</span></bar>
            <bar value="30" type="danger"><span class="progress-label lobster">30%</span></bar>
        </progress>
      </div>
    </div>
  </div>