<div class="dashboard">
  <dashboard-navigation-bar active="dictionary"></dashboard-navigation-bar>
  <div class="well">
    <table class="table table-striped table-hover">
      <th style="text-align: center;"><input type="checkbox"></th>
      <th>Word</th>
      <th>Translation</th>
      <th>Progress</th>
      <tbody>
        <tr>
          <td style="text-align: center;"><input class="" type="checkbox"></td>
          <td>Age</td>
          <td>Возраст</td>
          <td>25%</td>
        </tr>
        <tr>
          <td style="text-align: center;"><input type="checkbox"></td>
          <td>Car</td>
          <td>Машина</td>
          <td>25%</td>
        </tr>
        <tr>
          <td style="text-align: center;"><input type="checkbox"></td>
          <td>Beef</td>
          <td>Говядина</td>
          <td>50%</td>
        </tr>
        <tr>
          <td style="text-align: center;"><input type="checkbox"></td>
          <td>Wallet</td>
          <td>Бумажник</td>
          <td>75%</td>
        </tr>
      </tbody>
    </table>
  </div>