<div class="welcome">
  <div class="head_welcome">
    <div class="wrapper">
      <div class="head_welcome_buttons row">
        <span class="welcome_head_logo_block col-md-5">
            <span class="welcome_head_logo_text ">English Puzzle <sup class="badge beta">beta</sup></span>
        </span>
        <button type="button" class="pull-right btn3d btn btn-big btn-default btn-lg col-md-1" ng-click="$hide()" data-template="views/components/login-modal.html" data-placement="center" bs-modal="modal">Войти</button>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="welcome_block row">
      <div class="welcome_content col-md-9">
        <h1 class="welcome_content-title ">Welcome to the English Puzzle</h1>
        <div class="welcome_content-text ">
          English Puzzle – это интересный и эффективный способ изучить Английский язык. Уже более 9 миллионов человек с нами – присоединяйся и ты!
          <div style="margin-top: 50px; border: 2px dashed red; border-radius: 8px">
            Place some useful information here, something like: <br> 1) Why it's so cool to learn English here and so on <br> <br> <br> <br>
            <br> <br>
          </div>
        </div>
      </div>
      <div class="welcome_sidebar col-md-3">
        <div class="welcome_register_form">
          <h4 class="welcome_register_form_tytle">Бесплатная регистрация</h4>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span> <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span> <input type="password" class="form-control" placeholder="Пароль">
          </div>
          
          
          <button type="button" class="btn3d btn btn-big btn-default btn-lg btn-block navbar-btn welcome_register_button">Зарегистрироваться</button>
          <center>
            <button type="button" class="btn3d btn btn-big btn-info btn-lg">Facebook</button>
            <button type="button" class="btn3d btn btn-big btn-primary btn-lg">ВКонтакте</button>
            <button type="button" class="btn3d btn btn-big btn-warning btn-lg">Одноклассники</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>